body {
    background: rgb(15, 14, 14);
}
.container {
    max-width: 700px;
    margin: 0 auto;
}
.block {
    text-align: center;
    align-items: center;
    background: #fff;
    height: 750px;
    margin-top: 10px;
    border-radius: 5px;
    padding: 20px;
    padding-top: 35px;
}
.block__content {
    display: flex;
}
.block__content__inputs input {
    width: 90px;
    height: 90px;
    border: 7px solid #908d8d;
    border-radius: 12px;
    margin: 10px;
    margin-bottom: 12px;
    font-size: 60px;
    text-align: center;
    background: #c9c7c7;
    font-family: sans-serif;
    font-weight: normal;
}
.wordle__text {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.wordle__text p {
    font-size: 30px;
    color: black;
}
#cube h1 {
    color: beige;
    font-size: 20px;
    font-family: sans-serif;
}
